<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="col-6 app-cont">
        <div class="col-12 app-top-heading">
          <h2>Eat the Burger!</h2>
        </div>
        <div class="col-6 form-ctner">
          <form class="add-form">
            <div class="form-group">
              <label for="brg-name">What's the next burger-victim?</label>
              <input type="text" id="brg-name" name="brg-name" class="form-control">
            </div>
            <button class="btn btn-success" type="submit">Queue it!</button>
          </form>
        </div>
        <div class="col-12 brg-ctner">
          <div class="row">
            <div class="col-6 brg-list">
              <div class="list-group">
                <h4>Devourer's Queue</h4>
                {{#each burgers}}
                  {{#unless devoured}}
                    {{> burger/burger-item devoured=devoured}}
                  {{/unless}}
                {{/each}}
              </div>
            </div>
            <div class="col-6 brg-list">
              <div class="list-group">
                <h4>Former Burgers</h4>
                {{#each burgers}}
                  {{#if devoured}}
                    {{> burger/burger-item devoured=devoured}}
                  {{/if}}
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>