<button class="list-group-item list-group-item-action" data-id="{{id}}" {{#if devoured}} disabled {{else}} data-toggle="tooltip" data-placement="top" title="Click to Devour!!" {{/if}}>
    {{burger_name}}
</button>

